.learning-path-card {
  width: 300px;
  margin: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(#f5f5f5, #e8e8e8);
}



.learning-paths-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5%;
}

.learning-paths-container-error {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.error {
  margin-top: 15%;
  align-self: center;
  font-size: 40px;
  font-weight: bold;
  color: black;
}