.header {
    background-color: #f5f5f5;
    color: #ffffff;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .header-content img {
    width: 100px;
    margin-right: 16px;
  }
  
  .header-content h1 {
    font-size: 24px;
    margin: 0;
    color: black;
  }
  